[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "3rdparty/mINI"]
	path = 3rdparty/mINI
	url = https://github.com/pulzed/mINI
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rdparty/gulfs"]
	path = 3rdparty/gulfs
	url = https://github.com/gulrak/filesystem.git
[submodule "3rdparty/libserialport"]
	path = 3rdparty/libserialport
	url = https://github.com/GXTX/libserialport.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "3rdparty/utf8"]
	path = 3rdparty/utf8
	url = https://github.com/sheredom/utf8.h
[submodule "3rdparty/libiconv"]
	path = 3rdparty/libiconv
	url = https://github.com/GXTX/libiconv-for-Windows
[submodule "3rdparty/SDL2_ttf"]
	path = 3rdparty/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "3rdparty/SDL2_image"]
	path = 3rdparty/SDL2_image
	url = https://github.com/libsdl-org/SDL_image
