[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "3rdparty/mINI"]
	path = 3rdparty/mINI
	url = https://github.com/pulzed/mINI
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rdparty/gulfs"]
	path = 3rdparty/gulfs
	url = https://github.com/gulrak/filesystem.git
[submodule "3rdparty/libserialport"]
	path = 3rdparty/libserialport
	url = https://github.com/GXTX/libserialport.git
