[config]
; basepath MUST end in a trailing slash!
basepath = /home/wutno/cards/
; Linux
;serialpath = /dev/ttyUSB0
; Windows
;serialpath = COM3
;serialpath = \\.\pipe\YACardEmu
;
; Optional
;
apiport = 8080
autoselectedcard = card.bin
