[config]
; basepath MUST end in a trailing slash!
basepath = /home/wutno/cards/
; Linux
;serialpath = /dev/ttyUSB0
; Windows
;serialpath = COM3
;serialpath = \\.\pipe\YACardEmu
; Which device should we emulate?
; C1231LR / C1231BR
targetdevice = C1231LR
;
; Optional
;
;serialbaud = 9600
; Acceptable even & none
;serialparity = none
apiport = 8080
autoselectedcard = card.bin
